footer{
    width: 60%;
    margin-left: 22%;
}

#p{
    margin-left: 2rem;
}

#button{
    margin-left: 7rem;
}

#p-one{
    font-size: 11px;
    margin-left: 9rem;
    margin-top: 1rem;
}

#button-one{
    margin-right: 1em;
}

#p-two{
    margin-left: 2rem;
}
